@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

.peripheral{
	background-color: rgba(245,245,245,1);
	box-sizing: border-box;
	margin: 0;
	height:725px;
}

.Logout-word{
	width:100%;
	height:30%;
	margin:13% 0%;
}

.Logout-word>a{
	text-decoration:none;
	font-size:24px;
	color: rgba(208, 208, 208, 1);
}

.logo{
	width: 55%;
	height: 10%;
	box-sizing:border-box;
	margin: 6% 6% 6% 20%;
	display: block;
	box-sizing: border-box;
}

.logo-box{
	background-color:rgba(144, 180, 60, 1);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: block;
	cursor: pointer;
}

.logo-box > img{
	width: 100%;
	height: 100%;
	text-align: center;
	/* padding: 0 50px; */

}

.collapse{
	box-sizing:border-box;

}

.Blank-Left{
	width: 15%;
	height:100%;
	box-sizing: border-box;
	display: block;
	padding:30px 0; 
	float:left;
	
}

.left{
	width: 15%;
	height:100%;
	box-sizing: border-box;
	display: block;
	position: fixed; 
	background-color:rgba(144, 180, 60, 1);
	padding:30px 0; 
	float:left;
	z-index:99999;
}

.nav{
	
	box-sizing: border-box;
	list-style-type:none;
	font-family: 'cwTeXYen', sans-serif;
	font-size: 20px;
	text-align: center;
}

.menu-title{
	height: 20%;
	width: 100%;
	box-sizing: border-box;
	list-style-type:none;
	display: list-item;
	font-family: 'cwTeXYen', sans-serif;
	font-size: 120%;
	color: rgba(79, 79, 79, 1);
	text-align:left;
	line-height:100%;
	margin: 0 0 15px 30px;
}

.menu{
	height: 3.61328125%;
	width: 100%;
	box-sizing: border-box;
	list-style-type:none;
	display: list-item;
	font-family: 'cwTeXYen', sans-serif;
	font-size: 100%;
	color: rgba(79, 79, 79, 1);
	text-align: center;
	line-height:200%;
	margin: 0 0 15px 0;
}

.menu > a{
	width: 21.484375%;
	height: 3.61328125%;
	text-decoration:none;
	color: rgba(208, 208, 208, 1);
	padding: 8px 16px;
	
}

.menu > a:hover{
	text-decoration:none;
	color: rgba(240,240,240, 1);
	
}

.menu > a:active{
	text-decoration:none;
	color: rgba(240,240,240, 1);
	/*background-color:rgba(40, 148, 155, 1);*/
}

.menu > a:active{
	
	background-color:rgba(40, 148, 155, 1);
}


.right-container{
	width: 1100px;
	height: 600px;
	margin-left: 220px; 

}

.right{
	box-sizing:border-box;
	display: block;
	width: 65%;
	height: 1%;
	flex-basis: 75%;
	float: left;
}
/* ------------------------------------------------------------- */

body{
	font-family: 'cwTeXYen', sans-serif;
}
.body{
    margin: 0 auto;
	padding: 5px 20px;
	width: 1300px;
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom:30px;
}

.top{
	width: 1100px;
	padding: 0  30px;
	box-sizing: border-box;
}

.contect{
	width: 1040px;
	padding: 30px;
}

.contect-top{
	width: 1040px;
	padding: 20px;
	margin-right:0px;
	/* background-color: rgba(245,245,245,1); */
	box-sizing: border-box;
}

.title-left{
	width: 200px;
}

.title-left > h2{
	font-size: 200%;
	font-family: 'cwTeXYen', sans-serif;
}

.title-right{

}

.contect-bottom{
	width: 1100px;
	background-color: rgba(245,245,245,1);
}

/* .row{ */
	/* width: 100%; */
/* } */


/* -----------------------閔翔---------------------- */

.serch_Building{
	border-radius: 50px;
}

.datepicker{
	border-radius: 50px;
}

.time{
	border-radius: 50px;
}

.one{
	width: 1000px;
	height: 600px;
	margin: 0px 25px;
}

.A_Search{
	/* display: block; */
	width:65px;
	height:30px;
	background-color: rgba(66,133,244,.5);
	border-radius: 10px;
	font-size: 16px;
	margin: 0px 2px;
	/* float:left; */
}


.one_1{
	width: 1000px;
	margin: 0px 25px 10px 80px;
}


.two{ 
	height:30px;
	border-top:3px #000000 solid;
	border-bottom:3px #000000 solid;
	margin:0px 160px 0px 180px;
}


.two_11{
	width:0px 10px;
	padding:5px 60px;
	float:left;
}

.two_1{
	 width:1px;
	 height:30px;
	 border-width:0px 0.5px;
	 border-style:solid;
	 border-color:#8e8e8e;
	 float:left;

}

.three{
	list-style-type:none;
}

.three_10{
	width:0px 200px;
	padding:5px 160px;
	float:left;
}

.three_11{
	width:0px 100px;
	padding:3px 53px;
	float:left;
}

#flotcontainer {
    width: 600px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}

